ol.stories li.story { margin-bottom:15px }

.draggables .story{ overflow:auto }
.story{ height:100%; border-width:1px; border-style:solid }
.story ol{ margin:4px 0 0 0 }
.story ol li{ display:block; padding:0 5px }

.story .estimate { position:absolute; top:5px; right:5px; margin:0 }
.story ol { clear:both }

body#iterations_show.javascript form.edit_story input,
body#iterations_show.javascript form.edit_story label,
body#iterations_show.javascript li .content,
body#iterations_show.javascript form.edit_story p.submit{ display:none }
