<% content_for :title, 'Payments' %>
<% content_for :h1, "Payments" %>
<% breadcrumbs(
  link_to_unless_current('Account', @current_user),
  'Payments',
  :organisation_page => false
) %>

<p>
You are paying for the following organisations.
</p>

<ol>
  <%= render @payment_methods %>
</ol>
