#container { text-align:center; margin:20px 0 0 0; padding-top:148px }
#header { height:60px }
#content { width:950px; margin:27px auto }
#footer { clear:both; padding:30px 0 }
#main,
#new_existing,
body.non_session #content { text-align:left }
#main { float:left; width:100% }
#public_show #main,
.sessions #main,
.users #main{ width:38em }
#sign_up_login { float:right; margin-right:40px }
ul#images,
#new_existing { width:40%; float:right }
ul#images { margin-top:3em }
ul#images li p { margin:0 0 1.5em 0 }
.flash,
#existing_users,
#new_users,
#new_user { padding:10px 15px 15px 15px; margin-bottom:15px }
#new_user form,
#existing_users form,
#new_users p,
form.new_user .container,
.flash p { padding:10px 14px }
label { display:block; margin-top:.5em }

p.submit { margin-top:1em }

#privacy_policies_show dt { float:left; clear:left; width:10em }
#privacy_policies_show dd { display:block; margin-left:10em }

ul#images li { margin:0 }

.flash { clear:both; margin-top:15px; width:50% }

.important_message { display:none }

#user_story_description { float:left; clear:left }
#why_not_tasks { float:right; width:40%; overflow:hidden; padding:10px 5px 0 30px }
