<% content_for :title, 'Invoices' %>
<% content_for :h1, "Invoices" %>
<% @non_organisation = true %>
<% content_for :breadcrumbs do %>
  <li class="account first-child"><%= link_to_unless_current 'Account', @current_user %></li>
  <li>Invoices</li>
<% end %>

<% if @invoices.empty? %>
  <p>
  You have not yet received any invoices.
  </p>
<% else %>
<table summary="Invoices for organisations for which you are paying">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Organisation</th>
      <th>Plan</th>
      <th>Period</th>
      <th class="numeric">Amount</th>
      <th class="numeric">VAT</th>
      <th>Full version</th>
    </tr>
  </thead>
  <tbody>
    <%= render @invoices %>
  </tbody>
</table>
<% end %>
