<% content_for :title, "Editing #{@organisation}" %>
<% content_for :h1, h("Editing #{@organisation}") %>
<% breadcrumbs(
  link_to('Account', @current_user),
  link_to('Organisations', :organisations),
  h(@organisation),
  'Edit',
  :organisation_page => false
) %>

<% form_for @organisation do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'auto_focus' %>
  </p>
  <p class="submit">
  <%= f.submit 'Rename' %>
  </p>
<% end %>
