<% content_for :title, "Organisations" %>
<% content_for :h1, "Organisations" %>
<% @non_organisation = true %>
<% content_for :breadcrumbs do %>
  <li class="account first-child"><%= link_to_unless_current 'Account', @current_user %></li>
  <li>Organisations</li>
<% end %>

<% if @organisations.empty? -%>
  <h2>You have no organisations.</h2>
  <p>
  <%= link_to 'New Organisation', new_organisation_path %>
  </p>
<% else -%>
  <div class="section_container first">
    <%= link_to 'New Organisation', new_organisation_path, :class => 'section' %>
    <div class="section">
      <h2>Switch Organisation</h2>
      <ul>
        <%= render @organisations %>
      </ul>
    </div>
  </div>
<% end -%>
