<% content_for :title, "Organisations" %>
<% content_for :h1, "Organisations" %>

<% if @organisations.empty? -%>
  <h2>Oh dear. You have no organisations.</h2>
  <p>
    At some point you will be able to sign up for a new plan from here.
  </p>
<% else -%>
  <div class="section_container first">
    <div class="section">
      <h2>Change Organisation</h2>
      <ul>
        <%= render @organisations %>
      </ul>
    </div>
  </div>
<% end -%>
