<% content_for :title, "Organisations" %>
<% content_for :h1, "Organisations" %>
<% breadcrumbs(
  link_to_unless_current('Account', @current_user),
  'Organisations',
  :organisation_page => false
)
%>
<% content_for :actions do %>
  <li><%= link_to 'New', new_organisation_path %></li>
<% end %>

<% if @organisations.empty? -%>
  <h2>You have no organisations.</h2>
  <p>
  <%= link_to 'New Organisation', new_organisation_path %>
  </p>
<% else -%>
  <ol>
    <%= render @organisations %>
  </ol>
<% end -%>
