<% content_for :title, "User Stories | Agile Terminology" %>
<% content_for :h1, "User Stories" %>

<h2>The structure of a user story</h2>

<h2>Working backwards</h2>

<h2>Focus on benefits to people</h2>

<h2>Describe what needs to be done</h2>

<h2>Describe the role of the person</h2>

<p>
<%= link_to "Back to home page", root_path %>
</p>
