<% content_for :title, "User Story | Agile Terminology" %>
<% content_for :h1, "User Story" %>

<h2>What is a user story?</h2>

<%= render StaticStory.new(:name => 'Provide an example of a user story',
                           :estimate => 3,
                           :content => "As a new visitor to besimplyagile.com
                                        I want a definition of a user story
                                        So that I understand the terminology") %>

<p>
A user story is a simple story that describes a business requirement for a
product. The story above is a story that could have been written to drive the
writing of this page.
</p>

<h2>The structure of a user story</h2>

<p>
A good user story has three parts:
</p>
<ol>
  <li>A description of the user of the product</li>
  <li>A description of what the user requires</li>
  <li>A description of the benefit to the user</li>
</ol>
<p>
It can make things easier to write the last part (the benefit) first.
This keeps the work that your business performs focussed on people who have a
vested interest in your product.
</p>
<p>
This doesn't necessarily mean the customer. For example, the following story might 
</p>

<h2>Working backwards</h2>

<h2>Focus on benefits to people</h2>

<h2>Describe what the person requires</h2>

<h2>Describe the role of the person</h2>

<p>
<%= link_to "Back to home page", root_path %>
</p>
