body { color:#333 }
#container { background:28px 11px url(/images/simply_agile.png) no-repeat }

/* navigation */
#navigation a { background:#fff; color:#333; outline:none }
#navigation li,
body.iterations li#nav_iterations a,
body.projects li#nav_projects a,
body.stories li#nav_projects a { background:#5f5; color:#fff }
/* end navigation */

#contextual_new_story { background:url(/images/new_story.png) no-repeat;
                        outline:none;
                        text-indent:-2000000px; text-decoration:none }

#breadcrumbs { background:#5f5; color:#333 }
#breadcrumbs li { background:left center url(/images/arrow_small_right_green_background.png) no-repeat }
#breadcrumbs li.first-child { background:none }
#breadcrumbs li a { color:#333 }
#footer, #footer a { color:#666 }

h1 { background:0 1em url(/images/underline_green.png) repeat-x }

#actions a { color:#444; display:block; background:url(/images/button_background.png) no-repeat }

.section, .section h2 { border:2px solid #e4e5f3 }
.section h2 { background:#fff }

