/* basic layout */
#container { margin:3px 0 0 0; min-width:820px; position:relative }
#contextual_new_story { position:absolute; width:158px; height:80px;
                        right:30px; top:14px }
#footer { clear:both; padding:30px 0 }

/* end basic layout */

/* navigation */
#navigation { height:98px; position:relative; width:24.05em }
#container>#navigation { margin:0 auto }
#navigation ol { position:absolute; left:0; bottom:0; height:2.3em }
#navigation li { float:left; height:2.3em; line-height:2.3em; width:6em }
#navigation li a { display:block; width:6em }
/* end navigation */

/* breadcrumbs */
#breadcrumbs { height:3em; padding-left:30px }
#breadcrumbs li { float:left; margin-left:9px; padding-left:25px }
#breadcrumbs li.first-child { margin-left:0; padding-left:0 }
/* end breadcrumbs */

/* content */
#content { position:relative; clear:left; margin:18px 0 0 30px }
#actions { position:absolute; right:0; top:0; width:216px }
#actions li { width:107px; display:block; margin:0 auto }
#actions a { width:107px; height:32px }

.section { position:relative; padding:40px 36px 22px 36px; 
           margin:60px 30px 60px 0 }
.section h2 { position:absolute; top:-25px; padding:12px 23px; 
              /*ie6*/ left:-50px }
.section>h2 { left:-13px }
/* end content */

/* forms */
form p label { display:block }
/* end forms */

/* iterations/new */
#stories_iteration,
#stories_available { float:left; width:50% }
body.iterations #stories { width:700px; min-height:200px }
body.iterations p.submit { clear:left }
body.iterations table tr { vertical-align:top }
/* end iterations/new */

/* stories/new */
#acceptance_criteria { margin-bottom:15px }
#acceptance_criteria table { width:35em }
#acceptance_criteria table td.edit,
#acceptance_criteria table td.delete { width:4em }
#acceptance_criteria form { display:inline }
/* end stories/new */

/* iterations/show active */
/* remove after debugging
body#iterations_show.javascript #stories_list input,
body#iterations_show.javascript #stories_list label { display:none }
*/
body#iterations_show ol#stories_list li { clear:left; display:block }
.ui-draggable { margin-top:25px; margin-left:45px;
                width:85px; height:45px }
.ui-droppable { width:175px; height:100px; float:left }
/* end iteration/show active */
