h1 { margin-bottom:1em; font-size:300% }
h1 a { text-decoration:none }
h2,caption { font-weight:bold; font-size:138.5% }
p { margin:1em 0 1em 0 }
table p { margin:0 }
a:hover { text-decoration:none }

form input.numeric { text-align:right }

#container { text-align:center } /* largely for ie6 centring but reused */
#content { text-align:left }

#navigation { font-weight:bold; font-size:131%; text-align:center }
#navigation a { text-decoration:none }
#navigation a:hover { text-decoration:underline }

#breadcrumbs { font-weight:bold; line-height:3em }

#footer { font-size:77% }
