<% content_for :title, "Account" %>
<% content_for :h1, "Account" %>
<% @non_organisation = true %>
<% content_for :breadcrumbs do %>
  <li class="account first-child"><%= link_to_unless_current 'Account', @current_user %></li>
<% end %>

<p>
<%= link_to 'Invoices', :invoices %>
</p>
<p>
<%= link_to 'Organisations', :organisations %>
</p>
<p>
<%= link_to 'Payments', :payment_methods %>
</p>
