<% content_for :title, "Account" %>
<% content_for :h1, "Account" %>
<% breadcrumbs(
link_to_unless_current('Account', @current_user),
:organisation_page => false 
) %>

<p>
<%= link_to 'Invoices', :invoices %>
</p>

<p>
<%= link_to 'Organisations', :organisations %>
</p>

<p>
<%= link_to 'Payments', :payment_methods %>
</p>
