<div id="verify">
<p class="first-child">
  Your email address has not been validated yet. Please check your email for
  verification details.
</p>
  <% if @current_user.verify_by - Date.today < 4 -%>
<p>
  If you do not verify your email address by
  <%= @current_user.verify_by.to_s(:default) %> then your account will be
  disabled.
  <% end -%>
</p>
</div>
