<%
width ||= 300
ratio = 600 / width
height = 450 / ratio

iteration = active_work
%>
<li class="<%= cycle('odd', 'even') %>">
  <div class="iteration">
    <%= link_to(
      image_tag(iteration.pending? ? 'burndown.png' : iteration_burndown_path(iteration, :width => width),
        :width => width, :height => height, :alt => "Burndown chart for #{h iteration.name}"),
      [iteration.project, iteration]) %>
    <%= link_to h(iteration), [iteration.project, iteration] %>
  </div>

  <div class="stories">
    <ol class="stories">
      <%= render @stories.select { |s| s.iteration == iteration } %>
    </ol>
  </div>
</li>
