<% content_for :title, "Home" %>
<% content_for :h1, h("#{@current_organisation} Home") %>

<% content_for :actions do %>
  <li><%= link_to 'Change', organisations_path %></li>
<% end %>

<% unless @active_iterations_worked_on.empty? -%>
  <div id="recent_work" class="section_container">
    <div class="section">
      <h2>Recent work</h2>
      <ol>
        <%= render :partial => 'active_work',
          :collection => @active_iterations_worked_on %>
      </ol>
    </div>
  </div>
<% end -%>

<% unless @recently_finished_iterations_worked_on.empty? -%>
  <div id="recently_finished_iterations" class="section_container">
    <div class="section">
      <h2>Recently finished iterations</h2>
      <div class="finished">
        <ol>
          <%= render @recently_finished_iterations_worked_on %>
        </ol>
      </div>
    </div>
  </div>
<% end -%>
