<% content_for :title, "Simply Agile Home" %>
<% content_for :h1, "Simply Agile Home" %>

<p>To get started...</p>

<ul>
  <li><%= link_to "Create a new project", new_project_path %></li>
  <li><%= link_to "Create a new story", new_story_path %></li>
  <li><%= link_to "Plan an iteration", new_iteration_path %></li>
</ul>

<% unless @active_iterations.empty? -%>
  <p>or work on one of these active iterations</p>

  <ol>
    <%= render @active_iterations, :width => 300 %>
  </ol>
<% end -%>
