<% content_for :title, "Simply Agile Home" %>
<% content_for :h1, "Simply Agile Home" %>
<% if ! @active_iterations.empty? -%>
  <ul>
    <% @active_iterations.each do |iteration| -%>
      <li class="active_iteration">
        <h3>
        <%= link_to(h(iteration.name),
          project_iteration_path(iteration.project, iteration)) %>
        </h3>
        <%= link_to(
          image_tag(iteration_burndown_path(iteration, :width => 300),
            :width => 300, :height => 225,
            :alt => "Burndown chart for #{h iteration.name}"
          ),
          project_iteration_path(iteration.project, iteration)
        ) %>
      </li>
    <% end -%>
  </ul>
<% else -%>
  <%= render :partial => 'projects/list' %>
<% end -%>
