body.iteration_active .javascript #stories .guidance { position:absolute; width:99%;
                                                       top:0 }
body.iteration_active .javascript ol.stories { display:none }

body.iteration_active .ui-droppable { height:8em }

body.iteration_active #headings { overflow:hidden }
body.iteration_active #headings ol { width:100% }
body.iteration_active #headings li { height:2em; line-height:2em }

body.iteration_active #headings li,
body.iteration_active .ui-droppable { float:left; border-width:1px; 
                                      border-style:solid }

body.iteration_active #headings li,
body.iteration_active .ui-droppable { width:24.5% }

body.iteration_active .draggables { overflow:auto }
