/* iteration lists */
#iterations div.section { padding:0 }
#iterations div.section .guidance { padding:30px 0 0 15px }
#iterations .active,
#iterations .planned,
#iterations .finished { position:relative; overflow:hidden;
                        padding-bottom:15px }
#content .iteration { padding:0 15px; float:left; margin-bottom:15px }
#content .iteration a { display:block; margin:0 auto }
/* end iteration lists */
