<% content_for :title, "Projects" %>
<% content_for :h1, h("#{@current_organisation} Projects") %>

<% if @current_organisation.projects.empty? %>
<div class="guidance">
  <p>
  <%= h @current_organisation %> has no projects.
  Let's <%= link_to "make a project", new_project_path %>.
  </p>
</div>
<% else %>
  <div id="projects" class="section">
    <h2>Projects</h2>
    <p>
    <%= link_to "Make a new project", new_project_path %>
    </p>
    <ol>
      <%= render @current_organisation.projects %>
    </ol>
  </div>
<% end %>
