<% content_for :title, "Projects" %>
<% content_for :h1, h("#{@current_user.organisation} Projects") %>
<% content_for :breadcrumbs do %>
  <li class="first-child">Projects</li>
<% end %>
<%= render :partial => 'list' %>
