<% content_for :title, 'New Project' %>
<% content_for :h1, 'New Project' %>
<% content_for :breadcrumbs do %>
  <li class="project">New Project</li>
<% end %>
<% form_for @project do |form| %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Create Project' %>
  </p>
<% end %>
