<li>
  <h3><%= link_to h(story), [story.project, story] %></h3>
  <% if story.estimate? %>
  <p class="estimate">Story Points: <%= story.estimate %></p>
  <% end %>
  <%= simple_format story.content %>
</li>
