<% content_for :title, "#{@project} Backlog" %>
<% content_for :h1, h("#{@project} Backlog") %>
<% breadcrumbs link_to(h(@project), @project), 'Backlog' %>

<% form_for @project do |f| %>
<ol class="stories">
  <%= render @project.stories.backlog %>
</ol>
<p class="submit">
<%= f.submit 'Save Priorities' %>
</p>
<% end %>

<div id="next_steps">
  <h2>Next Steps</h2>
  <ul>
    <li>
    <%= link_to "Add a new story", contextual_new_story_path %>
    </li>
    <li>
    <%= link_to "Plan an iteration", new_project_iteration_path(@project) %>
    </li>
  </ul>
</div>
