<% content_for :title, "#{@project} Backlog" %>
<% content_for :h1, h("#{@project} Backlog") %>
<% breadcrumbs link_to(h(@project), @project), 'Backlog' %>
<% body_classes << 'guidance' %>

<h2>Empty backlog</h2>
<p>
You don't have a backlog! You might want to write a
<%= link_to 'new story', new_project_story_path(@project) %>.
</p>
