<% content_for :title, "#{@project} Backlog" %>
<% content_for :h1, h("#{@project} Backlog") %>
<% content_for :breadcrumbs do %>
  <li class="first-child project"><%= link_to h(@project), @project %></li>
  <li class="story">Backlog</li>
<% end %>

<% form_for @project do |f| %>
<ol id="backlog">
  <%= render @project.stories.backlog %>
</ol>
<p class="submit">
<%= f.submit 'Save Priorities' %>
</p>
<% end %>

<p>
  <%= link_to "Plan an iteration", new_project_iteration_path(@project) %>
</p>
