<% content_for :title, "Editing #{@story}" %>
<% content_for :h1, h("Editing #{@story}") %>
<% breadcrumbs(*story_breadcrumbs(@story) +
[ link_to(h(@story), [@project, @story.iteration, @story]), 'Edit' ]
              ) %>
<% form_for [@project, @story.iteration, @story] do |form| %>
  <%= form.error_messages %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Update Story' %>
  </p>
<% end %>
