<% content_for :title, "#{@project} Stories" %>
<% content_for :h1, h("#{@project} Stories") %>
<% breadcrumbs link_to(h(@project), @project), 'Stories' %>

<% unless @project.stories.empty? %>
  <ol>
    <% @project.stories.each do |story| %>
      <li><%= link_to h(story), [@project, story] %></li>
    <% end %>
  </ol>
<% end %>
