<% content_for :title, "New Story" %>
<% content_for :h1, "New Story" %>
<% content_for :breadcrumbs do %>
  <li class="story">New Story</li>
<% end %>
<% form_for @story do |form| %>
  <%= form.error_messages %>
  <%= render :partial => 'stories/project_select' %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Create Story' %>
  </p>
<% end %>
