<% if @story.acceptance_criteria.empty? %>
  <p class="guidance">
    This story has no acceptance criteria.
  </p>
<% else %>
  <div id="uncompleted">
    <table>
      <%= render(:partial => 'acceptance_criteria/criterion',
        :collection => @story.acceptance_criteria.uncompleted) %>
    </table>
  </div>

  <div id="completed">
    <table>
      <%= render(:partial => 'acceptance_criteria/criterion',
        :collection => @story.acceptance_criteria.completed) %>
    </table>
  </div>
<% end %>