<% content_for :title, @acceptance_criterion %>
<% content_for :h1, h(@acceptance_criterion) %>
<% breadcrumbs(
  link_to(h(@project), @project),
  link_to(h(@story), [@project, @story]),
  h(@acceptance_criterion),
  'Edit'
) %>

<% form_for [@project, @story, @acceptance_criterion] do |f| %>
  <p>
  <%= f.label :criterion %>
  <%= f.text_field :criterion, :class => 'auto_focus' %>
  <%= f.submit 'Update' %>
  </p>
<% end %>

