<% content_for :title, "Planning iteration #{@iteration}" %>
<% content_for :h1, "Planning iteration #{h(@iteration)}" %>
<% content_for :breadcrumbs do %>
  <li class="project"><%= link_to h(@project), @project %></li>
  <li class="iteration"><%= link_to h(@iteration), [@project, @iteration] %></li>
  <li>Re-plan</li>
<% end %>
<% body_classes << 'iteration_planning' %>

<% form_for [@project, @iteration] do |form| %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Update Iteration' %>
  </p>
<% end %>
