<% content_for :title, "New iteration for #{@project}" %>
<% content_for :h1, "New iteration for #{link_to(h(@project), @project)}" %>
<% content_for :breadcrumbs do %>
  <li class="first-child"><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to h(@project), @project %></li>
  <li>Iterations</li>
  <li>New</li>
<% end %>

<% form_for [@project, @iteration] do |form| %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Create Iteration' %>
  </p>
<% end %>
