<% content_for :title, "Planning iteration for #{@project}" %>
<% content_for :h1, "Planning iteration for #{h(@project)}" %>
<% breadcrumbs link_to(h(@project), @project), 'Plan Iteration' %>
<% body_classes << 'iteration_planning' %>

<% form_for [@project, @iteration] do |form| %>
  <%= render form %>
  <p class="submit">
  <%= form.submit 'Create Iteration' %>
  </p>
<% end %>
