body { color:#333 }
#header { background:#fff 28px 2px url(/images/simply_agile.png) no-repeat }

#verify div { color:#000; background:#ff5; opacity:0.9 }

/* navigation */
#navigation a { background:#fff; color:#333; outline:none }

/* livery colours */
#navigation li,
body.iterations li#nav_iterations a,
body.projects li#nav_projects a,
body.stories li#nav_projects a,
#breadcrumbs{ background:#ff7f2a; color:#fff }
/* end livery colours */

/* end navigation */

#contextual_new_story { background:url(/images/new_story.png) no-repeat;
                        outline:none;
                        text-indent:-2000000px; text-decoration:none }
#contextual_new_story:hover,
#contextual_new_story:focus,
#stories_new #contextual_new_story { background-image:url(/images/new_story_highlight.png) }

#breadcrumbs { color:#333 }
#breadcrumbs li { background:left center url(/images/arrow_small_right_orange_background.png) no-repeat }
#breadcrumbs li.first-child { background:none }
#breadcrumbs li a { color:#333 }
#footer, #footer a { color:#666 }

#actions a { color:#444; display:block; background:url(/images/button_background.png) no-repeat }

div.section, div.section h2 { border:2px solid #e4e5f3 }
div.section .errorExplanation h2 { border: none }
div.section h2 { background:#fff }

/* javascript request */
.javascript #request { background:#fff; border:2px solid #ff7f2a }
.javascript #request a#close_request { color:#fff }
.javascript #request h2#request_header { background:#ff7f2a }
/* end javascript request */

/* projects/show */
body#projects_show #iterations .active { background:#e4e5f3 }
body#projects_show #iterations .planned { background:#f1f1f8 }
body#projects_show #iterations ol li a img { border:2px solid #fff }
body#projects_show #iterations ol li a:hover img,
body#projects_show #iterations ol li a:focus img { border:2px solid #999 }
/* end projects/show */

/* iterations/new */
body.iterations .include a{ background-repeat:no-repeat }
body.iterations #stories_available .include a { background-image:url(/images/arrow_large_left_highlighted.png) }
body.iterations #stories_iteration .include a { background-image:url(/images/arrow_large_right_highlighted.png) }
body.iterations .display .content { background:#fff }
/* end iterations/new */

/* iterations/show when active */
.draggables .ui-droppable { background:#fff; border-color:#fff }

#headings .pending { background:#ddd }
#headings .pending { border-color:#ddd }
#headings .in_progress { background:#3dc0fd }
#headings .in_progress { border-color:#3dc0fd }
#headings .testing { background:#fde03d }
#headings .testing { border-color:#fde03d }
#headings .complete { background:#3dfd4f }
#headings .complete { border-color:#3dfd4f }

/* end iterations/show when active */

/* beta */
#beta_warning { background: #eee; border: 1px solid #ff7f2a; }
/* end beta */

#headings .complete { background:#3dfd4f }
#acceptance_criteria #completed, .aside { color: #aaa }
