h1 { margin-bottom:1em; font-size:250% }
h1 a { text-decoration:none }
h2,caption { font-weight:bold; font-size:138.5% }
p { margin:1em 0 1em 0 }
table p { margin:0 }
a:hover { text-decoration:none }

form input.numeric { text-align:right }
legend { font-weight:bold; padding-top:2em }

#container { text-align:center } /* largely for ie6 centring but reused */
#content { text-align:left }

#verify { font-size:93%; font-weight:bold }

#navigation { font-weight:bold; font-size:123.1%; text-align:center }
#navigation a { text-decoration:none }
#navigation a:hover,
#navigation a:focus { text-decoration:underline }

#breadcrumbs { font-weight:bold; line-height:3em }

#actions a { line-height:29px; text-align:center; text-decoration:none;
             font-weight:bold }

#footer { font-size:77% }

div.section h2 { font-size:146.5% }

/* projects/show */
body#projects_show #iterations ol li a { text-align:center }
body#projects_show #iterations h3 { text-align:right; font-size:123.1%;
                                    padding:7px 10px 15px 0 }
/* end projects/show */

/* iterations/new */
body.iterations .include a { text-indent:-20000px; outline:none; text-underline:none }
body.iterations .display h3 { font-weight:bold }
.javascript #request_container { text-align:left }
.javascript #stories span.estimate { text-align:center }
/* end iterations/new */

body#iterations_show .javascript #stories .guidance,
body#iterations_show .javascript #headings ol li { text-align:center }
