<% content_for :title, "Scrum / Agile Project Management Tool | Simply Agile" %>
<% content_for :h1, "A Simple Agile Project Management&#160;Tool" %>
<% content_for :images do %>
  <ul id="images">
    <li>
    <%= image_tag 'active_iteration.png', :alt => '' %>
    <p>Working on an active iteration</p>
    </li>
    <li>
    <%= image_tag 'planning_iteration.png', :alt => '' %>
    <p>Moving stories from the backlog and estimating&#160;for&#160;a&#160;new&#160;iteration</p>
    </li>
  </ul>
<% end %>

<p>
<strong>
Simply Agile is a web-based agile project management and user story handling
tool. It helps teams to follow agile project methodologies such&#160;as&#160;Scrum.
</strong>
</p>

<h2>Being agile is simple!</h2>
<p>
Define your projects.
Specify business requirements by writing 
<%= link_to 'user stories', agile_terminology_path(:user_stories) %>.
Prioritise, then group pertinent user stories into&#160;achievable&#160;iterations.
</p>

<p>
Simply Agile encourages every team member to think agile.
</p>

<h2>Get started in seconds</h2>
<p>
Simply Agile is quick and free to try out. You can start planning
your project within seconds of signing up. If you decide that you like Simply
Agile you can choose a pricing plan that best suits your business, and you can
keep what you've&#160;already&#160;saved.
</p>

<p>
If you'd like to give Simply Agile a try you can <%= link_to 'dive in right now', new_user_path %> and  
use it free for&#160;30&#160;days.
</p>
