<% content_for :title, "Welcome to Simply Agile" %>
<% content_for :h1, "Welcome to Simply Agile" %>
<% content_for :images do %>
  <ul id="images">
    <li>
    <%= image_tag 'active_iteration.png', :alt => '' %>
    <p>Working on an active iteration</p>
    </li>
    <li>
    <%= image_tag 'planning_iteration.png', :alt => '' %>
    <p>Moving stories from the backlog and estimating for&nbsp;a&nbsp;new&nbsp;iteration</p>
    </li>
  </ul>
<% end %>

<p>
Simply Agile is a web-based agile project management and user story handling
tool. It helps teams to follow agile project methodologies such as scrum.
</p>

<h2>About agile</h2>
<p>
Agile methodologies are most commonly associated with computer programming and
web development teams. Adopting an agile project management methodology tranfoms
the efficiency of your business, and enables teams to reliably meet deadlines
and foresee problems earlier.
</p>
 
<h2>Get started in seconds</h2>
<p>
Simply Agile is quick and free to try. You can start planning  your project
within seconds of signing up. If you decide that you like Simply Agile you can
choose a pricing plan that best suits your business, and you can keep what
you've already saved.
</p>

<p>
We hope that you like our product and find it as useful as we do. We  
use it every day, not least to plan future releases of Simply Agile!
</p>

<p>
If you'd like to give Simply Agile a try you can <%= link_to 'dive in right now', new_user_path %> and  
use it free for 30 days.
</p>
